body{
	background-image:url("../images/back2.jpg");
}

.logo{
	 
	display:block;
	margin-left:auto;
	margin-right:auto;
}

h1{
	font-family:Sans-serif;
	font-size:50px;
}

#header{
	font-weight:bold;
	font-style:italic;
	font-size:32px;
}

hr#line{
	border-top:2px solid black;
	
}

ul.menu{
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
	background-color: #333;
}

li.menu {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.productData{
	background-color:white;
	padding:3px;
}

.col1{
	text-align:center;
}

.col2{
	text-align:center;
}

div{
	margin-top:15px;
	margin-left:10px;
	margin-right:10px;
	margin-bottom:10px;
}